.app-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 80px;
    padding: 10px;
  }
  
  .search-bar {
    max-width: 300px;
  }
  
  .ml-3 {
    margin-left: 12px;
  }
  