.v-main {
    height: 100vh !important;
}

.narbulut-title{
  font-weight: 500;
  font-size: 15px;
}

.v-navigation-drawer .v-list-item .v-list-item-title {
  font-size: 14px;
  font-weight: 500; 
}

.v-navigation-drawer .v-list-item .v-icon {
  font-size: 25px;
}

.v-navigation-drawer--rail .v-list-item__prepend .v-icon.mdi-cloud {
  margin-left: 8px;
  color: #1056c7;
}

.v-navigation-drawer .v-list-item__prepend .v-icon.mdi-cloud {
  margin-left: 8px;
  color: #1056c7;
}

.v-icon.mdi-cloud {
  transition: font-size 0.3s ease-in-out;
}

.icon-big {
  font-size: 36px !important;
}

.v-navigation-drawer--rail:hover{
  background-color: #f0f0f0;
  transition: background-color 0.5s ease;
}

.v-theme--dark .v-navigation-drawer--rail:hover{
  background-color: #464545;
  transition: background-color 0.5s ease;
}

.v-navigation-drawer--rail .hover-btn {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.v-navigation-drawer--rail:hover .hover-btn {
  opacity: 1;
  pointer-events: auto;
  color: black !important;
}

.v-navigation-drawer:not(.v-navigation-drawer--rail) .hover-btn {
  opacity: 0;
  pointer-events: none;
}
