.layout-container {
    height: 100vh;
    
} 

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1px;
    height: auto;
    margin-top: 5px;
}

.content{
    margin: 15px;
}